body {
    font-family: microsoft jhenhei;
    background-image: url(../images/front.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;
    background-size: cover;
}
.col-lg-5{
    background-color: rgba(207, 241, 252, 0.7);
}
.text{
    height: 100vh;
}
i{
    color : rgb(18, 59, 106);
}